h1 {
  text-align: center;
  font-family: 'Passion One', cursive;
  color: #ffffff;
}

.container-fluid {
  padding-top: 2%;
  padding-bottom: 2%;
}

body {
  background-image: url('./assets/RectLight.svg');
}

.imgntext {
  margin-top: 2%;
  text-align: center;
}

.col-xs-10 {
  background-color: #177e89;
  margin: 0 auto;
  width: 40%;
  border: 2px solid;
  border-radius: 25px;
  border-color: #084c61;
}

.jumbotronContent {
  text-align: center;
  font-family: 'Passion One', cursive;
}
.seleccionar {
  font-size: 30px;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.boton-radio {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.boton-radio input[type='radio'] {
  display: none;
}

.boton-radio input[type='radio']:checked + label {
  background-color: #0056b3;
}
